
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
  
h2 {
    margin-right: 10px;
}
#addTaskButton {
    padding-bottom: 0.3rem;
    height: 1.7rem;
}

    